.btn-blue {
	background-color: #21243d;
	padding: 15px 20px;
	border-radius: 4px;
	color : white;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}

.btn-blue:hover{
	background-color: white;
    color: #21243d;
}
